<form class="search-form" id="search-form">
  <input
    class="search-form__input"
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button class="search-form__btn" type="submit">
    <svg class="search-form__btn-svg" width="14px" height="14px">
      <use
        class="search-form__btn-use"
        href="./images/search-icon.svg#icon-search"
      ></use>
    </svg>
  </button>
</form>
<div class="gallery">
  <!-- <div class="card">
    <div class="card__thumb-img">
      <img class="card__img" src="#" alt="" />
    </div>
    <div class="card__thumb-info">
      <div class="card__info">
        <p class="card__title-info">Likes</p>
        <p>100</p>
      </div>
      <div class="card__info">
        <p class="card__title-info">Views</p>
        <p>2000</p>
      </div>
      <div class="card__info">
        <p class="card__title-info">Comments</p>
        <p>300</p>
      </div>
      <div class="card__info">
        <p class="card__title-info">Downloads</p>
        <p>400</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__thumb-img">
      <img class="card__img" src="#" alt="" />
    </div>
    <div class="card__thumb-info">
      <div class="card__info">
        <h4 class="card__title-info">Likes</h4>
        <p>100</p>
      </div>
      <div class="card__info">
        <h4 class="card__title-info">Views</h4>
        <p>2000</p>
      </div>
      <div class="card__info">
        <h4 class="card__title-info">Comments</h4>
        <p>300</p>
      </div>
      <div class="card__info">
        <h4 class="card__title-info">Downloads</h4>
        <p>400</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__thumb-img">
      <img class="card__img" src="#" alt="" />
    </div>
    <div class="card__thumb-info">
      <div class="card__info">
        <h4 class="card__title-info">Likes</h4>
        <p>100</p>
      </div>
      <div class="card__info">
        <h4 class="card__title-info">Views</h4>
        <p>2000</p>
      </div>
      <div class="card__info">
        <h4 class="card__title-info">Comments</h4>
        <p>300</p>
      </div>
      <div class="card__info">
        <h4 class="card__title-info">Downloads</h4>
        <p>400</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__thumb-img">
      <img class="card__img" src="#" alt="" />
    </div>
    <div class="card__thumb-info">
      <div class="card__info">
        <h4 class="card__title-info">Likes</h4>
        <p>100</p>
      </div>
      <div class="card__info">
        <h4 class="card__title-info">Views</h4>
        <p>2000</p>
      </div>
      <div class="card__info">
        <h4 class="card__title-info">Comments</h4>
        <p>300</p>
      </div>
      <div class="card__info">
        <h4 class="card__title-info">Downloads</h4>
        <p>400</p>
      </div>
    </div>
  </div> -->
</div>
<div class="load-btn">
  <button type="button" class="load-more" hidden>Load more</button>
</div>
